<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>916</key>
	<string>シャワーを飲むべし</string>
    <key>917</key>
    <string>利き手の逆の手で尻を拭くべし</string>
    <key>918</key>
    <string>(文化の日)文化包丁を持って踊るべし！</string>
    <key>919</key>
    <string>豪邸を眺めてオレの家が完成したと感を出すべし！</string>
    <key>920</key>
    <string>なにかにぶら下がるべし！</string>
    <key>921</key>
    <string>犬を初めて見たようにビックリすべし！</string>
    <key>922</key>
    <string>オリヅルを折るべし！</string>
</dict>
</plist>
